# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# PyCharm
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log

# Python environments
*.env
*.venv

# Cache
*.cache
